- content_for :js do
  :coffee
    events_path = "#{events_path}"

%fieldset#events
  %legend Events
  .accordion
    %h4.center LOADING EVENTS...
    -# - if @events.present?
      -# = render "events_accordion", :events => @events
    -# - else
      -# No Events Found 

%fieldset#tags
  %legend Work
  - if Settings.home_show_tag_view == :accordion
    = render "tags_accordion", :tags => @tags
  - else
    = render "tags_plain", :tags => @tags
  
  
      
