%fieldset#events
  %legend Events
  - if @events.present?
    = render "events_accordion", :events => @events
  - else
    No Events Found 

%fieldset#tags
  %legend Work
  - if Settings.home_show_tag_view == :accordion
    = render "tags_accordion", :tags => @tags
  - else
    = render "tags_plain", :tags => @tags
  
  
      
