.view{:id => "#{@view.to_s}_view"}
  - if @view == :slideshow
    .slideshow
      - @images.each do |i|
        = link_to image_tag(i.image.home_splash_slideshow.url, :title => i.work.title), home_path

  - elsif @view == :random
    - image = @images.first
    = link_to image_tag(image.image.home_splash_random.url, :title => image.work.title), home_path
