@import compass/utilities
@import settings

form
  .left
    float: left
    width: 50%
  .right
    float: right
    width: 50%
  fieldset
    margin: 10px
    .notice
      color: $color_09
      background: $color_06
      padding: 10px
      margin: 10px 10px 20px
    input[type=text],
    input[type=email],
    input[type=password]
      width: 280px  
    #image_sizes
      +clearfix
      >div
        float: left
        margin-right: 20px
        table
          th, td
            input[type=text]
              width: inherit
            text-align: center
            &:first-child
              text-align: right
            input
              text-align: center
  div.actions
    +clearfix
    text-align: center
    padding: 15px