/*
 *= require slideshow
 */ 

@import compass/utilities
@import settings

#slideshow
  .work_title
    text-align: center
    border: none
  .tags
    text-align: center
    margin-bottom: 2px
    a
      text-decoration: none
  .slideshow
    border-width: 2px 0
    border-style: solid
    left: $content_padding * -1
    img
      max-width: $site_width - ($content_border_width * 2)
    .nivo-controlNav
      text-align: center
      margin: 0
      width: 100%
      bottom: -52px
      left: 0
      a
        float: none
        display: inline-block
  .info
    margin: 0 40px
    text-align: center
    span
      padding: 2px 20px
      background: $grey_09
      display: inline-block
      margin: 0 10px
  .details
    +clearfix
    $details_padding: 40px
    padding: $details_padding
    >div
      padding: 20px
      background: $grey_09
    &.for_sale
      $for_sale_width: 150px
      .description
        float: left
        width: $content_width - ($details_padding * 5) - $for_sale_width 
      .for_sale
        float: right
        width: $for_sale_width
        