//= require thumbnailScroller
//= require_self

@import compass/css3
@import settings
@import mixins

.jThumbnailScroller
  +full_site_width
  +border-radius(0px)
  +single-box-shadow
  background: black
  margin: 0
  border-width: 2px 0 2px 0
  border-style: solid
  border-color: $color_01
  padding: 0
  .jTscrollerContainer
    .jTscroller
      a
        +opacity(0.6)
        margin: 0
        border-width: 0
        &:first-child
          margin: 0
        &:last-child
          margin: 0
        &:hover
          +opacity(1)
  .jTscrollerNextButton
    background-image: url(/assets/thumbnail-scroller/nextArrow.png)
    right: 0
  .jTscrollerPrevButton
    background-image: url(/assets/thumbnail-scroller/prevArrow.png)
  .jTscrollerNextButton,
  .jTscrollerPrevButton
    &:hover
      background-color: $color_03
