@import settings
@import compass/utilities

@mixin items($work_width: 75px)
  $item_margin: 5px
  $series_width: ($work_width * 2) + ($item_margin * 2)
  .section
    +clearfix
    .item
      margin: $item_margin
      display: inline-block
      a
        text-decoration: none
        background: $grey_09
        display: block
        .image
          height: $work_width
          overflow: hidden
        .title
          text-align: center
          overflow: hidden
        &:hover
          background: $grey_08
      &.series
        width: $series_width
      &.work
        width: $work_width

@mixin full_site_width
  position: relative
  left: $content_padding * -1
  width: $site_width - ($content_border_width * 2)
  
@mixin slideshow
  +full_site_width
  +single-box-shadow($grey_04, 0px, 1px, 5px, 0px)
  border-width: 2px 0
  border-style: solid
