// color palette (darkest to lightest)
$color_01: red
$color_02: #FF5200
$color_03: orange
$color_04: yellow
$color_05: #80C000
$color_06: green
$color_07: blue
$color_08: #4000C0
$color_09: purple

// greyscale palette (darkest to lightest)
$grey_01: #1A1A1A
$grey_02: #333333
$grey_03: #4D4D4D
$grey_04: #666666
$grey_05: #7F7F7F
$grey_06: #999999
$grey_07: #B3B3B3
$grey_08: #CCCCCC
$grey_09: #E5E5E5

// defaults
$default-border-radius: 15px
$default-box-shadow-color: $grey_02

// layout settings
$site_width: 966px
$content_padding: 15px
$content_border_width: 2px
$content_width: $site_width - ($content_padding * 2) - ($content_border_width * 2)
