.series.item{ "data-series-id" => series.id}
  %a{ :href => series_path(series), :title => series.title }
    .image= image_tag(series.image.image.url, :width => 160) if series.image
    .title= series.title