- content_for :title do
  Create New Series

= simple_form_for @series do |s|
  = render 'shared/form_errors', :instance => @series
  = render 'form_fields', :instance => @series, :series => s
  .actions
    = s.button :submit  
